body {
    background-color: black;
    display: grid;
    justify-content: center;
    vertical-align: middle;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(77, 77, 77);
    border-color: rgb(124, 124, 124) transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  